fieldset {
    border: solid red;
    width: 300px;
    
}
legend {
    color: red;
    font-weight: bold
}
label {
    display: block;
    
}
input {
    background-color: #FFF3F3;
    border: 2px solid red;
}
input:focus {
        background-color: white;
}
