<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/about us.css">
	<link rel="stylesheet" href="../static/newcss/style.css">
	<link rel="stylesheet" href="../static/newcss/commonStyle.css">
	<link rel="stylesheet" href="../static/newcss/font.css">
	<link rel="stylesheet" href="../static/iconfont/download/iconfont01/iconfont.css">
	<link rel="stylesheet" href="../static/newcss/mobile.css">
	<title>About Us</title>
</head>
<body>
	<header>
		<div class="container">
			<ul class="header_list flexBox">
				<li class="logo"><img src="C:\Users\niemi\Desktop\web\Health Stack\imag\logo.png" alt="logo"></li>
			</ul>
			<h2>Wahahaha</h2>
			<br>
			<div class="enter">
				<a href="#enter"><i class="../static/iconfont icon-jiantouxia"></i></a>
			</div>
		</div>
	</header>

	<main>
		<section>
			<h2>Our History</h2>
			<p>Our company was established in 2023 and has grown from a small enterprise to a well-known company. We have always been committed to providing our customers with the highest quality services and products, earning the trust and support of our customers.</p>
			<!-- Add more content here if needed -->
		</section>

		<section>
			<h2>Our Team</h2>
			<p>Our team consists of passionate and knowledgeable professionals. Our employees come from different fields of expertise but share a common goal - the pursuit of excellence. We believe that only passionate and capable employees can provide excellent services and products to our customers.</p>
			<!-- Add more content here if needed -->
		</section>

		<section>
			<h2>Our Mission</h2>
			<p>Our company's mission is to create value for our customers. We are dedicated to meeting the ever-changing needs of our customers through innovation and excellent service. We aim to be the preferred brand trusted by customers and a leader in the industry.</p>
			<!-- Add more content here if needed -->
		</section>
	</main>

	<footer>
		<div class="footbody container">
			<ul class="flexBox flexCenter">
				<li>About us</li>
				<li class="bigWrite"><a href="/home">Xiehe Hospital</a></li>
				<li>Suggestions</li>    
			</ul>
			<p>Contact us</p>
			<p>XXX-XXXX-XXXX</p>
		</div>
	</footer>
</body>
</html>
