<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>预检分诊问卷</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>

<h1>请问您哪里不舒服？</h1>
<div class="select-container">
    <select class="styled-select" id="discomfortLocation" onchange="displayQuestions()">
        <option value="" disabled selected>选择部位</option>
        <option value="head">头部</option>
        <option value="abdomen">腹部</option>
        <option value="chest">胸部</option>
        <option value="leg">腿部</option>
    </select>
</div>

<div id="headQuestions" class="hidden">
    <h2>如果您选择了“头部”，请回答以下问题：</h2>
    <h3>您的头痛是否伴随着其他症状：</h3>
    <input type="radio" id="optionA1" name="headacheSymptoms" value="A">
    <label for="optionA1">A. 疲劳、紧张，失眠、记忆减退，情绪不稳定</label><br>
    <input type="radio" id="optionB1" name="headacheSymptoms" value="B">
    <label for="optionB1">B. 恶心呕吐，一侧肢体活动不力，不能言语</label><br>
    <input type="radio" id="optionC1" name="headacheSymptoms" value="C">
    <label for="optionC1">C. 眩晕、耳鸣，或者鼻塞、流脓性鼻涕或带血</label><br>
    <input type="radio" id="optionD1" name="headacheSymptoms" value="D">
    <label for="optionD1">D. 高血压或患有肾脏疾病，或者头痛伴有发烧</label><br>
    <input type="radio" id="optionE1" name="headacheSymptoms" value="E">
    <label for="optionE1">E. 光敏感，视力模糊或眼周围及眶上方疼痛</label><br>
    <input type="radio" id="optionF1" name="headacheSymptoms" value="F">
    <label for="optionF1">F. 常与头部水平转动密切相关，伴随头晕和手臂麻木</label><br>
    <input type="radio" id="optionG1" name="headacheSymptoms" value="G">
    <label for="optionG1">G. 您是否遭受了外伤，是否流血</label><br>
    <button onclick="showSuggestion()">提交</button>
</div>

<div id="abdomenQuestions" class="hidden">
    <h2>如果您选择了“腹部”，请回答以下问题：</h2>
    <h3>您的腹痛是否伴随着其他症状：</h3>
    <input type="radio" id="optionA2" name="abdomenSymptoms" value="A">
    <label for="optionA2">A. 右上下腹疼痛</label><br>
    <input type="radio" id="optionB2" name="abdomenSymptoms" value="B">
    <label for="optionB2">B. 中上腹疼痛</label><br>
    <input type="radio" id="optionC2" name="abdomenSymptoms" value="C">
    <label for="optionC2">C. 左上腹疼痛</label><br>
    <input type="radio" id="optionD2" name="abdomenSymptoms" value="D">
    <label for="optionD2">D. 中下部疼痛</label><br>
    <input type="radio" id="optionE2" name="abdomenSymptoms" value="E">
    <label for="optionE2">E. 整个腹腔的疼痛</label><br>
    <input type="radio" id="optionF2" name="abdomenSymptoms" value="F">
    <label for="optionF2">F. 疼痛比较剧烈，甚至难以忍受</label><br>
    <button onclick="showSuggestion()">提交</button>
</div>

<div id="chestQuestions" class="hidden">
    <h2>如果您选择了“胸部”，请回答以下问题：</h2>
    <h3>您的腹痛是否伴随着其他症状：</h3>
    <input type="radio" id="optionA3" name="chestSymptoms" value="A">
    <label for="optionA3">A. 伴有咳嗽、深吸气或呼气时加重</label><br>
    <input type="radio" id="optionB3" name="chestSymptoms" value="B">
    <label for="optionB3">B. 运动后突然出现剧烈胸痛，并伴有呼吸困难</label><br>
    <input type="radio" id="optionC3" name="chestSymptoms" value="C">
    <label for="optionC3">C. 前胸后背突然出现性质为撕裂性疼痛，并伴血压升高</label><br>
    <input type="radio" id="optionD3" name="chestSymptoms" value="D">
    <label for="optionD3">D. 胸口或胸前疼痛，有压迫感，伴有心慌气短</label><br>
    <input type="radio" id="optionE3" name="chestSymptoms" value="E">
    <label for="optionE3">E. 因骨折等外伤所致，弯腰、侧弯时疼痛加剧</label><br>
    <button onclick="showSuggestion()">提交</button>
</div>


<div id="legQuestions" class="hidden">
    <h2>如果您选择了“腿部”，请回答以下问题：</h2>
    <h3>您的腿痛是否伴随着其他症状：</h3>
    <input type="radio" id="optionA5" name="legSymptoms" value="A">
    <label for="optionA5">A. 下肢外侧痛，痛感延伸到屁股或腰部</label><br>
    <input type="radio" id="optionB5" name="legSymptoms" value="B">
    <label for="optionB5">B. 运动后，大小腿部的关节出现疼痛</label><br>
    <input type="radio" id="optionC5" name="legSymptoms" value="C">
    <label for="optionC5">C. 踝关节和足趾关节出现红肿疼痛，并有热感，特别是出现在吃海鲜或啤酒之后</label><br>
    <input type="radio" id="optionD5" name="legSymptoms" value="D">
    <label for="optionD5">D. 久坐后出现小腿肚子肿胀，手指按压出现疼痛，走路时疼而休息可以缓解</label><br>
    <input type="radio" id="optionE5" name="legSymptoms" value="E">
    <label for="optionE5">E. 膝关节或手的小关节等全身多处关节出现两侧对称性疼痛</label><br>
    <button onclick="showSuggestion()">提交</button>
</div>

<div id="suggestion" class="hidden">
    <div id="popup" class="popup">
        <h2>建议您找：</h2>
        <p id="department"></p>
        <a href="/.."> <button onclick="returnToSelection()">Return</button></a>
        <a href="/appointment/patient/search"> <button>New Reservation</button></a>
    </div>
</div>



<script>
    function displayQuestions() {
        resetSuggestion();
        const location = document.getElementById("discomfortLocation").value;
        const headQuestions = document.getElementById("headQuestions");
        const abdomenQuestions = document.getElementById("abdomenQuestions");
        const chestQuestions = document.getElementById("chestQuestions");
        const legQuestions = document.getElementById("legQuestions");

        headQuestions.classList.add("hidden");
        abdomenQuestions.classList.add("hidden");
        chestQuestions.classList.add("hidden");
        legQuestions.classList.add("hidden");

        switch (location) {
            case "head":
                headQuestions.classList.remove("hidden");
                headQuestions.classList.add("fade-in");
                break;
            case "abdomen":
                abdomenQuestions.classList.remove("hidden");
                abdomenQuestions.classList.add("fade-in");
                break;
            case "chest":
                chestQuestions.classList.remove("hidden");
                chestQuestions.classList.add("fade-in");
                break;
            case "leg":
                legQuestions.classList.remove("hidden");
                legQuestions.classList.add("fade-in");
                break;
        }
    }



    function showSuggestion() {
        const headOption = document.querySelector('input[name="headacheSymptoms"]:checked');
        const abdomenOption = document.querySelector('input[name="abdomenSymptoms"]:checked');
        const chestOption = document.querySelector('input[name="chestSymptoms"]:checked');
        const legOption = document.querySelector('input[name="legSymptoms"]:checked');
        const popup = document.getElementById("popup");
        const mainContent = document.querySelector("body > :not(#suggestion)");
        const sectionsToHide = document.querySelectorAll("#headQuestions, #abdomenQuestions, #chestQuestions, #legQuestions");

        let selectedOption = '';

        if (headOption) {
            selectedOption = headOption.value + '1';
        } else if (abdomenOption) {
            selectedOption = abdomenOption.value + '2';
        } else if (chestOption) {
            selectedOption = chestOption.value + '3';
        } else if (legOption) {
            selectedOption = legOption.value + '4';
        }

        const department = document.getElementById("department");
        const suggestion = document.getElementById("suggestion");
        let suggestedDepartment;

        switch (selectedOption) {
            case "A1":
                suggestedDepartment = "神经内科";
                break;
            case "B1":
                suggestedDepartment = "急诊神经内科";
                break;
            case "C1":
                suggestedDepartment = "耳鼻喉科";
                break;
            case "D1":
                suggestedDepartment = "内科";
                break;
            case "E1":
                suggestedDepartment = "眼科";
                break;
            case "F1":
                suggestedDepartment = "脊柱外科或康复科";
                break;
            case "G1":
                suggestedDepartment = "神经外科";
                break;
            case "A2":
                suggestedDepartment = "外科";
                break;
            case "B2":
                suggestedDepartment = "消化内科";
                break;
            case "C2":
                suggestedDepartment = "普外科或消化内科";
                break;
            case "D2":
                suggestedDepartment = "妇科或者泌尿外科";
                break;
            case "E2":
                suggestedDepartment = "消化内科";
                break;
            case "F2":
                suggestedDepartment = "急诊科或者拨打急救电话";
                break;
            case "A3":
                suggestedDepartment = "呼吸科或胸外科";
                break;
            case "B3":
                suggestedDepartment = "胸外科";
                break;
            case "C3":
                suggestedDepartment = "急诊科或血管外科";
                break;
            case "D3":
                suggestedDepartment = "心内科";
                break;
            case "E3":
                suggestedDepartment = "骨科或胸外科";
                break;
            case "A4":
                suggestedDepartment = "骨科的脊柱外科";
                break;
            case "B4":
                suggestedDepartment = "骨科";
                break;
            case "C4":
                suggestedDepartment = "内分泌科或风湿免疫科";
                break;
            case "D4":
                suggestedDepartment = "血管外科";
                break;
            case "E4":
                suggestedDepartment = "风湿免疫科";
                break;
            default:
                suggestedDepartment = "未知";
        }

        sectionsToHide.forEach((section) => {
            section.classList.add("hidden");
        });

        department.textContent = suggestedDepartment;
        mainContent.style.display = "none";
        suggestion.classList.remove("hidden");
        popup.classList.add("fade-in");
    }

    function resetSuggestion() {
        const suggestion = document.getElementById("suggestion");
        suggestion.classList.add("hidden");
    }

    function returnToSelection() {
        resetSuggestion();
        const suggestion = document.getElementById("suggestion");
        const popup = document.getElementById("popup");
        const mainContent = document.querySelector("body > :not(#suggestion)");

        suggestion.classList.add("hidden");
        popup.classList.remove("fade-in");
        mainContent.style.display = "block";
    }
</script>
</body>
</html>
