<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Xiehe Hospital</title>
<meta name="description" content="Thoughts, reviews and ideas since 1999."/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" href="../static/assets/css/screen.css"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../static/assets/js/masonry.min.js"></script>
<script type="text/javascript" src="../static/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="../static/assets/js/index.js"></script>
</head>
<body class="home-template">
<div class="site-wrapper">
	<nav class="main-nav overlay clearfix">
	<a class="blog-logo" href="/home"><img src="../static/img/logo1.png" alt=""></a>
	<ul id="menu">
		<li class="nav-home nav-current" role="presentation"><a href="/home">Home</a></li>
		<li class="nav-about-us" role="presentation"><a href="/doctor">Doctor</a></li>
		<li class="nav-author-page" role="presentation"><a href="/announcement">Announcement</a></li>
		<li class="nav-author-page" role="presentation"><a href="/science">Science</a></li>
		<li class="nav-article-example" role="presentation"><a href="/register">Registration</a></li>
		<span class="socialheader">
		<a href="#"><span class='symbol'>circletwitterbird</span></a>
		<a href="#"><span class='symbol'>circlefacebook</span></a>
		<a href="#"><span class='symbol'>circlegoogleplus</span></a>
		<a href="mailto:123456@gmail.com"><span class='symbol'>circleemail</span></a>
		</span>
	</ul>
	</nav>
	<header class="main-header " style="background-image: url(../static/assets/img/intro.jpg)">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title">Xiehe Hospital</h1>
		</div>
	</div>
	<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
	</header>
	<main id="content" class="content" role="main">
	<div class="wraps">
		<img src="../static/assets/img/shadow.png" class="wrapshadow">
		<div class="grid">
			<div class="grid-item">
				<article class="post">
				<div class="wrapgriditem">
					<header class="post-header">
						<h2 class="post-title"><a href="yuyue.html?doctor=Belinda Raman">Belinda Raman</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
						She is the president of Xiehe Hospital.Comprehensive management and prevention of coronary heart disease, hypertension, dyslipidemia, diabetes, and metabolic syndrome, to maximize the reduction of cardiovascular events.
					</p>
					</section>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post tag-romance">
				<img src="../static/img/doc-5(1).jpg">
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="article.html">Leonard Knox</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
						He is the vice president of Xiehe Hospital.Strictly follow the indications of interventional diagnosis and treatment of coronary and peripheral vascular diseases.Early diagnosis and individualized treatment of heart failure caused by various cardiomyopathy and other causes.
					</p>
					</section>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post">
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="article.html">Milo Masson</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
					  He is the chief physician of Xiehe Hospital.Diagnosis and management of cornary artery disease, dyslipidemia, as well as research into the clinical assessment and application heart failure and cadiovascular pharmatheuticals.
					</p>
					</section>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post tag-romance">
				<img src="../static/img/doc-1(1).jpg">
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="article.html">Keanu Reeves</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
					  He is the director of the Department of Internal Medicine at Xiehe Hospital.Diagnosis and therapy of fever of unknown origin, infectious diseases, and various liver diseases.
					</p>
					</section>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post tag-romance featured">
				<img src="../static/img/doc-4(1).jpg">
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="article.html">Nigel Nevin</a></h2>
					</header>
					<section class="post-excerpt">
					<p>
					  He is a professor at Xiehe Hospital.Various difficult and complicated diseases of respiratory system.Difficult and complicated conditions of respirotory system
					</p>
					</section>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post">
				<img src="../static/img/doc-3(1).jpg">
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title">Tom Cruse</h2>
					</header>
					<section class="post-excerpt">
					<p>
					  He is the chief physician of XieheHospital.Children of short stature, pituitary dwarfism, newborn behavior testing and its application.<br>
                    </p>
					</section>
				</div>
				</article>
			</div>
			<div class="grid-item">
				<article class="post tag-romance">
				<img src="../static/img/doc-2(1).jpg">
				</article>
			</div>
			<div class="grid-item">
				<article class="post featured">
				<img src="../static/img/doc-6(1).jpg">
				</article>
			</div>
		</div>
	</div>
	</main>
	<footer class="site-footer clearfix">
	<a href="#top" id="back-to-top" class="back-top"></a>
	</footer>
</div>
	</body>
</html>