<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Xiehe Hospital</title>
<meta name="description" content="Thoughts, reviews and ideas since 1999."/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" href="../static/assets/css/screen.css"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
</head>
<style>
		.tem{background-image: url("../static/img/banner1.jpg");background-size: 100%;}
</style>
<body class="author-template">
<div class="site-wrapper">
	<nav class="main-nav overlay clearfix">
	<a class="blog-logo" href="/home"><img src="../static/img/logo1.png" alt=""></a>
	<ul id="menu">
		<li class="nav-home nav-current" role="presentation"><a href="/home">Home</a></li>
		<li class="nav-about-us" role="presentation"><a href="/doctor">Doctor</a></li>
		<li class="nav-author-page" role="presentation"><a href="/announcement">Announcement</a></li>
		<li class="nav-author-page" role="presentation"><a href="/science">Science</a></li>
		<li class="nav-article-example" role="presentation"><a href="/register">Registration</a></li>
		<span class="socialheader">
		<a href="#"><span class='symbol'>circletwitterbird</span></a>
		<a href="#"><span class='symbol'>circlefacebook</span></a>
		<a href="#"><span class='symbol'>circlegoogleplus</span></a>
		<a href="mailto:123456@gmail.com"><span class='symbol'>circleemail</span></a>
		</span>
	</ul>
	</nav>
	<header class="main-header author-head tem">
	</header>
	<section class="author-profile inner">
	<figure class="author-image">
	<div class="img" ><img src="../static/img/doc-5.png" width="200px">
		<span class="hidden">David's Picture</span>
	</div>
	</figure>
	<h1 class="author-title">Leonard Knox</h1>
	<h2 class="author-bio">About some daily health knowledge, now the standards and effects of these health common sense will be explained to you at one time!</h2>
	<div class="author-meta">
		<span class="author-location icon-location">Planet Earth</span>
		<span class="author-link icon-link">http://www.123456.net</span>
		<span class="author-stats"><i class="icon-stats"></i> 13 posts</span>
	</div>
	</section>
	<main class="content" role="main">
	<div class="grid">
		<div class="grid-item">
			<article class="post">
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">What is a low-fat diet?</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
				  Low-fat diets first require limiting the total daily intake of total fat in food, with a maximum of less than 50 grams of total daily fat intake (no more than 25% of food energy).
				</p>
				</section>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post tag-romance">
			<a href="article.html"><img src="../static/img/about-img.svg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">How long is sitting sitting?</a></h2>
				</header>
				<section class="post-excerpt">
				  <p>Sitting awake for more than 5 days a week.</p>
				  <p>Sit for more than 8 hours a day.</p>
				  <p>Often did not get up for 1.5 hours continuously.</p>
                </section>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post">
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">How to prevent pollen allergy</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
				  Avoid contact with allergens and avoid going outdoors to areas with high pollen concentrations.
				</p>
				</section>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post tag-romance">
			<a href="article.html"><img src="../static/img/book-img.svg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">Staying up late is considered staying up late</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
				  Strictly speaking, staying up late after 23 o'clock is considered a late night.
				</p>
				</section>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post tag-romance featured">
			<a href="article.html"><img src="../static/img/home-img.svg"></a>
			<div class="wrapgriditem">
			  <header class="post-header">
				<h2 class="post-title"><a href="article.html">How much to drink counts as enough water?</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
				  It is recommended to drink plenty of water, a small amount several times. Adult men drink 1700 ml of water per day and adult women drink 1500 ml of water per day.<br>
                </p>
				</section>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post">
			<a href="article.html"><img src="../static/img/blog-2.jpg"></a>
			<div class="wrapgriditem">
			  <header class="post-header">
				<h2 class="post-title"><a href="article.html">How much is overweight?</a></h2>
			  </header>
				<section class="post-excerpt">
				  <p>BMI = weight (kg) ÷ height (m) ²</p>
				  <p>Normal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;18.5~23.9 </p>
				  <p>Fat&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;24~27.9</p>
				  <p>Overweight&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &gt;28</p>
                </section>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post tag-romance">
			<a href="article.html"><img src="../static/img/blog-1.jpg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">How much is enough to eat?</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
				  Healthy adults eat no less than 300 grams of fresh vegetables per day, and dark vegetables should account for 1/2.
				</p>
				</section>
				
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post featured">
			<a href="article.html"><img src="../static/img/blog-3.jpg"></a>
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">How much is the indicator considered "three highs"?</a></h2>
				</header>
				<section class="post-excerpt">
				  <p>Blood pressure: systolic blood pressure &lt; 140 mm Hg; Diastolic blood pressure&lt; 90 mm Hg</p>
				  <p>Blood glucose: fasting&lt; 6.1 mmol/l; 2 hours after meals&lt; 7.8 mmol/L</p>
				  <p>Lipids (LDL): &lt;3.4 mmol/L&nbsp;</p>
                </section>
			</div>
			</article>
		</div>
		<div class="grid-item">
			<article class="post">
			<div class="wrapgriditem">
				<header class="post-header">
				<h2 class="post-title"><a href="article.html">How much salt is considered light?</a></h2>
				</header>
				<section class="post-excerpt">
				<p>
				  Adults consume no more than 5 grams of table salt per day.
				</p>
				</section>
			</div>
			</article>
		</div>
	</div>
	</main>
	<footer class="site-footer clearfix">
	<a href="#top" id="back-to-top" class="back-top"></a>
	</footer>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../static/assets/js/masonry.min.js"></script>
<script type="text/javascript" src="../static/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="../static/assets/js/index.js"></script>
</body>
</html>